.header{
  font-size: 49px;
}
.headerSub{
  font-size: 39px;
}
.flexHeader{
  font-size: 16px;
}
.section{
  padding: 75px 50px 40px 50px;
}
.sectionGap{
  padding-top: 150px ;
}
@media screen and (max-width:939px){
  .header{
    font-size: 39px;
  }
  .headerSub{
    font-size: 29px;
  }
}
@media screen and (max-width:877px){
  .header{
    font-size: 30px;
  }
  .headerSub{
    font-size: 20px;
  }
}
@media screen and (max-width:639px){
  .sectionGap{
    padding-top: 75px !important;
  }
  .section{
    padding: 75px 25px 40px 25px;
  }
}
@media screen and (max-width:425px){
  .header{
    font-size: 39px;
  }
  .headerSub{
    font-size: 29px;
  }
  .section{
    padding: 40px 15px 40px 15px;
  }
}

@media screen and (min-width:640px){
  .flexHeader{
    padding-top: 35px ;
  }
}