@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.flex{
  display: flex;
}

body{
  max-width: 1440px ;
  margin: auto;
  /* background-color: black; */
}


.contentExpanded{
  padding-left: 230px !important;
}
.contentNotExpanded{
  padding-left: 90px !important;
}

td, th{
  position: relative;
  padding: 10px;
}
td::after, th::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right
  ,rgb(227, 227, 227),rgba(0, 0, 0, 0.509),rgb(209, 209, 209));
}

@media screen and (max-width:670px){
  .contentExpanded{
    padding-left: 165px !important;
  }
  .contentNotExpanded{
    padding-left: 70px !important;
  }
}

@media screen and (max-width:639px){
  .contentExpanded{
    padding-left: 20px !important;
  }
  .contentNotExpanded{
    padding-left: 20px !important;
  }
}
@media screen and (max-width:350px){
  .contentExpanded{
    padding-left: 10px !important;
  }
  .contentNotExpanded{
    padding-left: 10px !important;
  }
}