.form{
  padding-top: 30px;
}

.form input{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
  border-radius: 20px 0 0 20px;
  width: 80%;
  font-size: 10px;
}
.form input[type=email]{
  padding: 22px 10px 22px 0px;
  background-color: rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
  border-radius: 0 20px 20px 0;
  width: 6%;
  cursor: pointer;
  font-size: 7px;
}




@media screen and (max-width: 1280px){
  .form input[type=email]{
    width: 10%;
    padding: 22px 0px 22px 0px;
  }
}
@media screen and (max-width: 900px){
  .form input[type=email]{
    width: 12.5%;
    font-size: 7.5px;
  }
}
@media screen and (max-width: 330px){
  .form input[type=email]{
    font-size: 7px;
  }
}